.vs/
BD/
Codigo_Guardado.txt
Output-Build.txt
Servicio_ReportesXynthesis/
WindowsTestService/
Xynthesis.AccesoDatos/
Xynthesis.Modelo/
Xynthesis.Reportes/
Xynthesis.Seguridad/
Xynthesis.ServicioReportes/App.config
Xynthesis.ServicioReportes/Program.cs
Xynthesis.ServicioReportes/ProjectInstaller.Designer.cs
Xynthesis.ServicioReportes/ProjectInstaller.cs
Xynthesis.ServicioReportes/ProjectInstaller.resx
Xynthesis.ServicioReportes/Properties/
Xynthesis.ServicioReportes/Service1.Designer.cs
Xynthesis.ServicioReportes/Xynthesis.ServicioReportes.csproj
Xynthesis.ServicioReportes/bin/
Xynthesis.ServicioReportes/obj/
Xynthesis.SetupRpt/
Xynthesis.Utilidades/App.config
Xynthesis.Utilidades/CifradoClaves.cs
Xynthesis.Utilidades/Constantes.cs
Xynthesis.Utilidades/FuncionesComunes.cs
Xynthesis.Utilidades/Mensajes/
Xynthesis.Utilidades/Properties/
Xynthesis.Utilidades/Xynthesis.Utilidades.csproj
Xynthesis.Utilidades/bin/
Xynthesis.Utilidades/obj/
Xynthesis.Web.sln
Xynthesis.Web.v12.suo
Xynthesis.Web/
obj/
packages/
