@model IEnumerable<Xynthesis.Modelo.xy_geography>
@{
    var IdGeo = ViewData["IdGeography"].ToString();
}

<select class="form-control" id="Ide_Geography" name="Ide_Geography">
    @foreach (var item in Model)
    {
        if (IdGeo == item.Ide_Geography.ToString())
        {
            <option selected="selected" value="@item.Ide_Geography">@(item.Nom_Country + " - " + item.Nom_Province + " - " + item.Nom_City)</option>
        }
        else
        {
            <option value="@item.Ide_Geography">@(item.Nom_Country + " - " + item.Nom_Province + " - " + item.Nom_City)</option>

        }
    }
</select>
