<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxRegGrilla" value="10" />
    <add key="KeyCifradoXynthesis" value="xynthesis2017axede" />
    <add key="LogErrores" value ="D:\Innovacion\Xynthesis_modi\Xynthesis.Web\Log\"/>
  </appSettings>  
  
</configuration>