
@{
    ViewBag.Title = "Index";
}
<div style="text-align:center; padding-top:30px;">
    <img src="~/Content/images/XYNTHESIS_FONDO_INDEX.png" style=" height:85%; width:85%;" />
</div>

@Html.Partial("Graficas")
